/* General styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }  
body{
    background: #1e1f24;
    color: #000000;
    text-align :center;
    font-family: "courier";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
/* Specific styles */
.main
{
    background: white;
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}
.main h1
{
    font-size: 20px;
}
.main-header
{
    background: #33a;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
.main-header img
{
    width: 20px;
    vertical-align: middle;
}
.main-header span
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
.post
{
    padding: 1em;
}
.footer
{
    background: #58646d;
    color: whitesmoke;
    text-align: center;
    padding: 0.5em; 
}

.main-footer{
    list-style: none;
}
.main-footer__item{
    display: inline-block;
    padding-left: 0px;
}
.main-footer__item a{
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

/* pseudo element */
.main-footer__item a::after{
    content: " | ";
}
/* pseudo class */
.main-footer__item a:hover{
    color:#1e1f24;
}
.main-footer__item a:active{
    color: tomato;
}


