/* General styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
  }
html{
    font-size: 6.25%;
}  
body{
    background: #1e1f24;
    color: #000000;
    text-align :center;
    font-family: "courier";
    font-size: 16rem;
    margin: 0;
    height: 100vh;
}
main{
    display: inline-block;
    width: 100vw;
    height: 94vh;
}
h3{
    color: #000000;
}
li{
    color: white;
    text-align :left;
    padding-left: 20rem;
}
footer{
    background-color: #333333
}

/* Combinators
tag1 + tag2{}: apply on all tags2 next to tag1
tag1 ~ tag2{}: apply on all tags2 on the same code block */
section > h2{
    color: #5D5D5E ;
}
section > iframe{
    width: 80%;
    min-width: 360px;
    max-width: 560px;
    min-height: 315px;
    max-height: 60vh;
   height: 60%;

}
/* Specific Styles */

.nav{
    background-color: #333333;
    text-align: left;
}
.nav-list{
    list-style: none;
}
.nav-list__item{
    display: inline-block;
}
.nav-list__item a{
    text-decoration: none;
    color: #000000;
}
.nav-list__item a img{
    width: 20rem;
    vertical-align: middle;
}
.nav-list__item a:hover{
    color:white;
}
.nav-list__item a:hover::after{
    color:white;
    content: " | ";
}
.nav-left{
    position: absolute;
    width: 25%;
    height: 94.7vh;
    left: 0rem;
    background-color: #252526;
    top: 20rem;
 }
 .nav-left_div{
    background-color: rgba(0, 0, 0, 0.10);
    margin: 10rem;
    border-radius: 5rem;
 }
.conten{
    position: absolute;
    width: 75%;
    height: 94.7vh;
    right: 0rem;
    top: 20rem;
}