/* vars */
:root{
    --primary-color: #333333;
    --h2-color: #5D5D5E;
}
/* General styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
  }
html{
    font-size: 6.25%;
}  
body{
    background: #1e1f24;
    color: black;
    text-align :center;
    font-family: "courier";
    font-size: 16rem;
    margin: 0;
    height: 100vh;
}
main{
    display: flex;
    flex-wrap: wrap;
    height: 95vh;
}
h3{
    color: black;
}
li{
    color: white;
    text-align :left;
    padding-left: 20rem;
}
footer{
    background-color: var(--primary-color);
}
/* Combinators
tag1 + tag2{}: apply on all tags2 next to tag1
tag1 ~ tag2{}: apply on all tags2 on the same code block */
section{
    flex-grow: 1; 
}
section > h2{
    font-family: 'Fleur De Leah', cursive;
    color: var(--h2-color);
}
section > iframe{
    border-radius: 5rem;
    width: 80%;
    min-width: 360rem;
    max-width: 560rem;
    min-height: 230rem;
    max-height: 60vh;
   height: 60%;

}
/* Specific Styles */
.nav{
    background-color: var(--primary-color);
    text-align: left;
}
.nav-list{
    list-style: none;
}
.nav-list__item{
    display: inline-block;
}
.nav-list__item a{
    text-decoration: none;
    color: black;
}
.nav-list__item a img{
    width: 20rem;
    vertical-align: middle;
}
.nav-list__item a:hover{
    color:white;
}
.nav-list__item a:hover::after{
    color:white;
    content: " | ";
}
.nav-left{
    background-color: #252526;
    top: 20rem;
    /* flex-grow: 2;  */
 }
 .nav-left_div{
    background-color: rgba(0, 0, 0, 0.10);
    margin: 5rem;
    border-radius: 5rem;
 }