* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
body{
    align-items: center;
}
p{
    color: blue;
    font-size: small;
}
/*class*/
.lblName{
    color: brown;
}
.main-form_item{
    display: list-item;
    list-style: none;
}
/*id*/
#text{
color: crimson;
font-size: smaller;
}
